// Container types

.container {
    background-color: rgb(192, 185, 177);
    
}

.container--main {
    max-width: 700px;
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.container--list {
    background-color: white;
    border-radius: 6px;
    flex: 1;
    margin-bottom: 100px;
    overflow: auto;
}

.container--login {
    max-width: 700px;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-position: 50%;
}

.container--login_h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    color: rgb(248, 248, 248);
    font-size: 50px;
}

// Row types

.row--login {
    height: 100vh;
}

// Column types 

.col--login {
    flex-basis: 100%;
    min-height: 127px;
}

// Logo
.logo {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    padding-right: 40px;
}

// Header

.header {
    background-color: rgb(138, 43, 226);
    color: white;
    font-size: 2.5rem;
}

// Colors

.fontAwesomeIcon {
    color: blueviolet;
}

.p--nav {
    color: blueviolet;
}

// Typography/text styling

.optionText {
    word-wrap: break-word;
}

a:hover {
    text-decoration: none;
}

// Footer

.endRow {
    background-color: rgb(248, 248, 248);
    width: 100%;
    position: fixed;
    bottom: 0;
}

.vl {
    border-left: 2px solid rgba(0, 0, 0, 0.123);
    position: relative;
    height: 60px;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

// Breakpoints

@media only screen and (min-width : 700px) {
    .endRow {
        background-color: rgb(248, 248, 248);
        width: 700px;
    }
}
