// Container types

.container {
    background-color: rgb(238, 234, 231);
}

.container--main {
    max-width: 700px;
    height: 100vh;
    flex-direction: column;
    display: flex;
    padding: 0;
}

.container--login {
    max-width: 700px;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-position: 50%;
}

.container--login_h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    color: rgb(248, 248, 248);
    font-size: 50px;
}

// Row types

.row--list {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow: auto;
    margin: 0;
    background-image: url(./img/doodles.png);
}

.row--chores {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    background-image: url(./img/doodles.png);
}

.row--zero {
    width: 100%;
    margin: 0;
    padding: 0;
}

.row--nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.row--login {
    height: 100vh;
}

// Column types 

.none {
    margin: 0;
    padding: 0;
}

.col--logo {
    flex-grow: 0;
    margin-bottom: 5px;
}

.col--chores {
    flex-basis: 100%;
    padding: 0;
    margin: 0;
}

.col--todoForm {
    flex-basis: 100%;
    padding: 0;
    margin: 0;
}

.col--login {
    flex-basis: 100%;
    min-height: 127px;
}

// Logo
.logo {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    padding-right: 40px;
}

.logo--sm {
    display: inline-flex;
    margin: 0;
    width: 70px;
    height: 70px;
}

// Form To Do 
.formTodo {
    width: 100%;
    display: flex;
}

.width100 {
    width: 100%;
}

.noRadius {
    border-radius: 0;
}

.radius {
    border-radius: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}

// Header

.header {
    display: inline-flex;
    align-self: center;
    background-color: rgb(138, 43, 226);
    color: white;
    font-size: 2.0rem;
    margin-bottom: 0px;
}

// Colors

.violet {
    background-color: #8a2be2;
    color: white;
    border-color: blueviolet;
}

.violet:hover, .violet:active {
    background-color: rgb(104, 27, 175) !important;
    border-color: rgb(104, 27, 175) !important;
    box-shadow: 0 0 0 0.2rem rgba(174, 0, 255, 0.25) !important;
}

.violet:focus {
    background-color: rgb(104, 27, 175);
    box-shadow: 0 0 0 0.2rem rgba(174, 0, 255, 0.25)
}

.form-control:focus {
    border-color: blueviolet;
    box-shadow: 0 0 0 0.2rem rgba(174, 0, 255, 0.25)
}

.fontAwesomeIcon {
    display: inline-flex;
    color: blueviolet;
}

.fontAwesomeIcon--white {
    color: white;
}

.p--nav {
    color: blueviolet;
}

// Typography/text styling

.optionText {
    word-wrap: break-word;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

// Footer

.endRow {
    background-color: rgb(248, 248, 248);
    width: 100%;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.308);
}

.vl {
    border-left: 2px solid rgba(0, 0, 0, 0.123);
    position: relative;
    height: 60px;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

// Breakpoints

